body {
  font-family: "Sniglet", cursive;
  margin: 0 -40px;
}

.container-fluid {
  position: relative;
  background-image: url(/assets/images/home/mount.png);
  background-position: center center;
  height: 100vh;
  background-position-y: -250px;
  background-attachment: fixed;
}

nav a img {
  height: 70px;
}

ul.navbar-nav:link {
  color: black;
}

.jumbotron img {
  height: 400px;
}

.jumbotron span {
  display: block;
  color: aliceblue;
}

.point-down a img {
  margin-top: 20px;
  height: 30px;
}

.page-2 {
  padding-top: 40px;
}

.page-3 {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.page-3 h1 {
  margin-bottom: 30px;
}

.partner-kami {
  background-color: #999999;
  height: 100vh;
}

.col-sm-4 img {
  height: 190px;
}

.partner-kami h1 {
  margin: 70px auto;
}

footer {
  margin: -40px auto;
  background-color: black;
  padding-top: 20px;
  height: 70px;
}

footer span {
  color: aliceblue;
}

footer span img {
  height: 20px;
}
