html,
body,
.container {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  padding-top: 2px;
  font-family: "Sniglet", cursive;
}

/* Navigation */
.navigation {
  height: 90px;
  display: flex;
  align-items: center;
}

.navigation img {
  height: 90px;
  margin-left: 70px;
}

.navigation-link {
  justify-content: flex-end;
  margin-right: 50px;
}
.navigation-link a {
  color: black;
  font-size: 25px;
}
.navigation-link a:hover {
  color: white;
}
.navigation-wrapper {
  background-image: url("../images/home/mount.png");
}

/* Jumbotron */
.jumbotron-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 700px;
}
.jumbotron {
  background: transparent;
}

.jumbotron-wrapper img {
  height: 400px;
  margin-bottom: 40px;
}

.jumbotron-wrapper p {
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
}

/* Main */
main img {
  width: 600px;
  height: 340px;
}

main {
  text-align: center;
}

main img {
  margin-bottom: 20px;
}

main h1 {
  margin-bottom: 30px;
}

/* Footer */
footer {
  color: white;
  background: black;
  margin-top: 50px;
}
